<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav>
        <ahref="/" style="font-family: cursive;">
            <h1>Welcome to our clinic</h1>
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/forum">Forum</a>
            </li>
            <li>
                {{#if loggedIn}}
                <a id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </li>
            <li>
                <a href="#/contact">Contact Us</a>
            </li>
            <li>
                {{#if loggedIn}}
                <a href="/client-appointment">Book an Appointment</a>
                {{else}}
                <a href="/appointment">Book an Appointment</a>
                {{/if}}
            </li>
        </ul>
    </nav>

    <main>

        {{{ body }}}

    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>