<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar bg-body-tertiary">
        <a class="navbar-brand p-3" href="/" style="font-family: 'Caveat', cursive;">
            <h1 class="display-3 text-success">Welcome to our clinic</h1>
        </a>
        <ul class="nav nav-underline justify-content-end p-3 fs-4">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                {{#if loggedIn}}
                <a id="logout" class="nav-link active">Logout</a>
                {{else}}
                <a class="nav-link active" href="/login">Login</a>
                {{/if}}
            </li>
        </ul>
    </nav>

    <main>

        {{{ body }}}

    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>