<section class="contact container">
    <div class="hero">
        <div class="row-full title">Make an Appointment</div>
        {{#if }}
        <p>please login and return to the appointments page.</p>
        {{/if}}
    </div>
    <div class="page-content">
        <div class="inner-content">
            <button href="/login">Login</button>
            <button href="/guest-appointment">Continue as guest</button>
        </div>
    </div>
</section>

<!-- taken to this page unless loggedIn -->