<section class="contact container">
    <div class="hero">
        <div class="row-full title mt-3">Make an Appointment</div>
    </div>
    <div class="page-content">
        <div class="inner-content">
            <h2 class="is-italic py-2">If you are an existing user, please login in order for us to access your pet's information.</h2>
            <a class="button is-primary" href="/login">Login</a>
            <a class="button is-primary mb-4" href="/api/appointments/guest-appointment">Continue as guest</a>
        </div>
    </div>
</section>