<section class="contact container">
    <div class="hero">
        <div class="row-full title">Make an Appointment</div>
    </div>
    <div class="page-content">
        <div class="inner-content">
            <h2>If you are an existing user, please login in order for us to access your pet's information.</h2>
            <button><a href="/login">Login</a></button>
            <button><a href="/guest-appointment">Continue as guest</a></button>
        </div>
    </div>
</section>