<section class="appointment-container">
    <div class="inner-content has-text-centered">
        <h1 class="title has-text-centered has-text-success is-spaced">Make an Appointment</h1>
        <h3 class="subtitle">If you are an existing user, please login in order for us to access your pet's information.</h3>
        <a class="button is-primary" href="/login">Login</a>
        <a class="button is-primary" href="/guest-appointment">Continue as guest</a>
    </div>
</section>