<section class="contact container">
    <h1 class="title has-text-centered has-text-success">Make an Appointment</h1>
    <div class="inner-content">
        <h3 class="subtitle has-text-centered">If you are an existing user, please login in order for us to access your pet's information.</h3>
        <button><a href="/login">Login</a></button>
        <button><a href="/guest-appointment">Continue as guest</a></button>
    </div>
</section>