<section class="appointment-container">
    <div class="inner-content has-text-centered">
        <h1 class="title has-text-centered has-text-primary is-spaced">Make an Appointment</h1>
        <h3 class="subtitle">Your appointment request has been received! Keep an eye on your email for updates.</h3>
    </div>
</section>