<section class="appointment-container container">
  <h1 class="title has-text-centered has-text-success">Make an Appointment</h1>
  <div class="inner-content">
    <form class="client-form">
      <div class="field is-horizontal">
          <div class="field-label is-normal">
              <label class="label">Which pet would you like to make appointment for? *</label>
          </div>
          <div class="field-body">
              <div class="field">
                  <div class="control">
                      <div class="select is-fullwidth">
                          <select id="petName-contact">
                              <option value="">Select</option>
                          </select>
                      </div>
                  </div>
                  <p class="help">To book an appointment for a new pet, please <a href="/new-pet-form">add your pet</a></p>
              </div>
          </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">What is the reason for your visit? *</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" id="concern-contact"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label has-text-danger" id="warning"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script src="/js/appointment.js"></script>