<section class="contact m-4">
    <div class="hero">
        <div class="row-full title has-text-centered is-size-2">Contact Us!</div>
    </div>
    <div class="page-content">
        <div class="inner-content has-text-centered m-4">
            <div class="">
                <p><span class="icon has-text-primary">
                        <i class="fa-sharp fa-solid fa-phone"></i>
                    </span>Phone: <a href=""></a>555-555-5555</a></p>
            </div>
            <div class="">
                <p><span class="icon has-text-primary">
                    <i class="fa-solid fa-envelope"></i>
                </span>Email: <a href="">vetsetgo@email.com</a></p>
            </div>
            <div class="">
                <p><span class="icon has-text-primary">
                    <i class="fa-solid fa-house-chimney-medical"></i>
                </span>Address: 67 Coolidge St</p>
            </div>
            <div id="map">{{initMap}}</div>
        </div>
    </div>
</section>

