<section class="contact container">
    <h1 class="title has-text-centered has-text-success">
        Contact Us!
    </h1>
    <div class="inner-content">
        <h3 class="subtitle has-text-centered">Find us at</h3>
        <p>Phone: <a href=""></a>555-555-5555</a></p>
        <p>Email: <a href="">vetsetgo@email.com</a></p>
        <p>Address: 67 Puppy St</p>
        <div id="map-box">
            <div id="map">{{initMap}}</div>
        </div>
    </div>
</section>

