<section class="contact m-4">
    <div class="hero">
        <div class="row-full title has-text-centered is-size-2">Contact Us!</div>
    </div>
    <div class="page-content">
        <div class="inner-content has-text-centered m-4">
            <div class="">
                <p><span class="icon has-text-info">
                        <i class="fa-sharp fa-solid fa-phone"></i>
                    </span>Phone: <a href=""></a>555-555-5555</a></p>
            </div>
            <div class="">
                <p><span class="icon has-text-info">
                    <i class="fa-solid fa-envelope"></i>
                </span>Email: <a href="">vetsetgo@email.com</a></p>
            </div>
            <div class="mb-3">
                <p><span class="icon has-text-info">
                    <i class="fa-solid fa-house-chimney-medical"></i>
                </span>Address: 67 Coolidge St</p>
            </div>
             <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&center=Toronto,ON&zoom=14&markers=color:red%7CToronto,ON&key=AIzaSyBUGkWlHFBzejckpWAQYJAEUm2mz6im0RE&signature=YDtmZ0OAxKVAKHupk2-ZtHsUSy4=" id="map" alt="Toronto, Ontario">
        </div>
    </div>
</section>

