<section class="contact-container">
    <h1 class="title has-text-centered has-text-success">
        Contact Us!
    </h1>
    <div class="inner-content has-text-centered">
        <h3 class="subtitle ">Find us at</h3>
        <p>Phone: 555-555-5555</p>
        <p>Email: <a href="mailto: vetsetgo@email.com">vetsetgo@email.com</a></p>
        <p>Address: 67 Puppy St, Toronto, Ontario</p>
        <img src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&center=Toronto,ON&zoom=14&markers=color:red%7CToronto,ON&key=AIzaSyBUGkWlHFBzejckpWAQYJAEUm2mz6im0RE&signature=YDtmZ0OAxKVAKHupk2-ZtHsUSy4=" id="map" alt="Toronto, Ontario">
    </div>
</section>