<section class="contact container">
    <div class="hero">
        <div class="row-full title">Book an Appointment</div>
    </div>
    <div class="page-content">
        <div class="inner-content">
            <h2>Owner Information:</h2>
            
<div class="field">
    <div class="field-label">
        <label class="label">Already a client?</label>
    </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <label class="radio">
          <input type="radio" name="client" id="client-contact">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="client" id="client-contact">
          No
        </label>
      </div>
    </div>
  </div>
</div>

<div class="field">
    <div class="field-label is-normal">
        <label class="label">Name</label>
    </div>
    <div class="field-body">
        <div class="field">       
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="First" id="firstName-contact">
            </div>
            <p class="help">First</p>
        </div>

        <div class="field">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="Last" id="lastName-contact">
            </div>
            <p class="help">Last</p>
        </div>
    </div>
</div>

<div class="field">
    <div class="field-label is-normal">
        <label class="label">Email</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="email" placeholder="Email" id="email-contact">
            </div>
        </div>
    </div>
</div>

<h3>Pet Information</h3>
<div class="field">
    <div class="field-label is-normal">
        <label class="label">Pet's Name</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" id="name-contact">
            </div>
        </div>
    </div>
</div>

<div class="field">
    <div class="field-label is-normal">
        <label class="label">Breed/Species</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" id="breed-contact">
            </div>
        </div>
    </div>
</div>

<div class="field">
  <div class="field-label is-normal">
    <label class="label">What are your concerns?</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" id="concern-contact"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

    </div>
</div>

</section>