<div>
    <h2 class=>Forums:</h2>
</div>
<div>
    {{#each topics as |topic|}}
        <section class="">
            <a href="/api/forum/{{topic.id}}">
                <div class="">
                    <div class="">
                        <header>{{topic.titleText}}</header>
                    </div>
                    <div class="">
                        <p>Post by {{topic.users.firstName}} {{topic.users.lastName}}</p>
                    </div>
                </div>
            </a>
        </section>
    {{/each}}
</div>