<section class="card p-2 mx-3">
    <div class="p-2">
        <h2 class="is-size-3">Create a new Topic:</h2>
        <form class="topic-form">
            <div class="field">
                <input class="input is-normal" type="text" id="title-input" placeholder="Title"/>
            </div>
            <div class="field">
                <textarea class="textarea" id="description-input" placeholder="Your content here"></textarea>
            </div>
            <div class="field">
                <button class="button is-info mt-2" type="submit" id="post-btn">Post</button>
            </div>
        </form>
    </div>
</section>
<section class="p-2 mx-3">
    <div>
        <h2 class="is-size-3 p-2 mx-3">Join the Conversation:</h2>
    </div>
    <div>
        {{#each topics as |topic|}}
            <section class="box p-2 my-0">
                <a href="/api/forums/{{topic.id}}">
                    <div class="level">
                        <div class="level-left">
                            <header class="is-size-4 has-text-dark">{{topic.titleText}}</header>
                        </div>
                        <div class="level-right">
                            <p class="has-text-dark is-italic">Posted by {{topic.users.firstName}} {{topic.users.lastName}}</p>
                        </div>
                    </div>
                </a>
            </section>
        {{/each}}
    </div>
</section>

<script src="/js/createPost.js"></script>