<section>
    <form class="login-form">
        <h3>Log in</h3>
        <div>
            <label for="email-login">Email</label>
            <div>
                <input type="email" id="email-login">
            </div>
        </div>
        <div>
            <label for="password-login">Password</label>
            <div>
                <input type="password" id="password-login">
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

    <form class="signup-form">
        <h3>Sign up</h3>
        <div>
            <label for="firstName-signup">First Name</label>
            <div>
                <input type="text" id="firstName-signup">
            </div>
        </div>
        <div>
            <label for="lastName-signup">Last Name</label>
            <div>
                <input type="text" id="lastName-signup">
            </div>
        </div>
        <div>
            <label for="email-signup">Email</label>
            <div>
                <input type="email" id="email-signup">
            </div>
        </div>
        <div>
            <label for="password-signup">Password</label>
            <div>
                <input type="password" id="password-signup">
                <span id="passwordHelpInline">
                    Must be at least 8 characters long.
                </span>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>




<script src="/js/login.js"></script>