{{!-- Owner profile --}}
<section class="">
  <h1>PROFILE</h1>

  <figure class="image is-128x128">
    <img class="is-rounded" src="/images/blank_profile_picture.jpg">
  </figure>

  <h3>Welcome back, {{ firstName }}</h3>

  <h5>Select a pet:</h5>
</section>

{{!-- Pet names --}}
<section class="">
  <div class="tabs is-centered">
    <ul>
      {{#each pets as |pet|}}
      <li>
        <a>
          <span class="icon is-small">
            <i data-type="petType" class="{{petType}} fas fa-music" aria-hidden="true"></i>
          </span>
          <span>{{name}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>

<script src="/js/profile.js"></script>